@model IEnumerable<Prueba2.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categoria</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>@Html.DisplayNameFor(model => model.idCategoria) </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCategoria)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.idCategoria })|
                @Html.ActionLink("Details", "Details", new { id = item.idCategoria }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idCategoria })
            </td>
</tr>
}

</table>
